/* css */
body {
    background-image: url("bgfr.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}


.header {
    background-color: #842663;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    max-width: 1300px; 
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    height: 125px;
}

#the {
    height: 50px;
}

#mirror {
    height: 85px;
}

#blog {
    display: block;
    margin-left: auto;
    margin-right: 45%;
    margin-top: 20px;
    width: 100px;

}

#divider {
    display: block;
    margin-left: auto;
    margin-right: 34%;
    margin-top: 30px;
    height: 70px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    margin-top: 30px;
}

.news {
    display: flex;
    flex-direction: column;
    background-color: #d3f2ef;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%;
    align-items: center;
    text-align: center;
}

.news-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.news-text h2 {
    color: #842663;
    margin: 0;
    font-size: 25px;
}

.news-text p {
    color: #4d9895;
    font-size: 18px;
    margin-top: 10px;
}


.comments {
    background-color: #f4ca74;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: left;
}

.comments h3 {
    color: #842663;
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 25px;
}

.comment-list {
    list-style: none;
    padding: 0;
    color: #4d9895;
    font-size: 14px;
}

.comment-list li {
    margin-bottom: 8px;
    text-align: left;
}

.tea-party {
    background-color: #d3f2ef;
    border-radius: 10px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    text-align: left;
}

.tea-news {
    text-align: center;
}

.tea-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tea-text h2 {
    color: #842663;
    font-size: 25px;
    margin-bottom: 10px;
}

.tea-text p {
    color: #4d9895;
    font-size: 18px;
}

.tea-comments {
    background-color: #f4ca74;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

.tea-comments h3 {
    color: #842663;
    font-size: 25px;
    margin-bottom: 10px;
}

.tea-comment-list {
    list-style: none;
    padding: 0;
    color: #4d9895;
    font-size: 14px;
}

.tea-comment-list li {
    margin-bottom: 8px;
}

.question-forum {
    background-color: #842663;
    border-radius: 10px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    text-align: left;
}

.forum h2 {
    color: #f4ca74;
    font-size: 25px;
    margin-bottom: 10px;
}

.forum p {
    color: #d3f2ef;
    font-size: 20px;
}

.forum-questions {
    background-color: #f4ca74;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

.questions-list {
    list-style: none;
    padding: 0;
    color: #4d9895;
    font-size: 14px;
}

.tea-comment-list li {
    margin-bottom: 8px;
}
